body {
    background-image: linear-gradient(to top, #69AED9,#5DAADA, #43A1DC,#2494DA);
}

.mainContent {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

button.ui {
    background-color: white !important;
  }
  
button.ui:hover {
    background-color: white !important;
  }

.dropZoneDefaultState {
    height: 180px;
    border-width: 2px;
    border-color: #23dae7;
    border-style: dashed;
    border-radius: 25px;  
}

.dropZoneAcceptState {
    height: 180px;
    border-width: 2px;
    border-color: #00ff00;
    border-style: solid;
    border-radius: 25px; 
    background-color: #ccffcc; 
}

.dropZoneRejectState {
    height: 180px;
    border-width: 2px;
    border-color: #ff0000;
    border-style: solid;
    border-radius: 25px; 
    background-color: #ffc6c6; 
}

.tabPane {
    background-color: white !important;
    border-style: none !important;
    border-radius: 15px !important;
}